:root {
    --accent-color: #2196F3;
    --primary-color: #212121;
    --white-text: #FFFFFF;
    --tetriary-color: #757575;
    --secondary-color: rgba(255, 255, 255, 0.6);
    --background: #2F303A;
    --secondary-background: #F5F4FA;
}

body {
    background-color: white;
    font-family: Roboto, sans-serif;
    color: var(--primary-color);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}



.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding: 94px 0px;
}


.text-phantom {
    font-size: 0px;
}



h1,
h2,
h3,
ul,
p {
    margin: 0px;
    padding: 0px;
}